.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 16px;
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 4px 4px green;
  text-align: center;
  background-color: black;
}

.card > h2 {
  font-size: 32px;
  color: yellow;
  border-left: 6px solid yellow;
}

#root {
  width: 100%
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  max-width: 300px;
  justify-content: center;
}

.tag {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  padding: 4px 12px;
}

.card > img {
  border-radius: 10px;
}